<div id="Navigation">
    <ul class="clearfix">
        <li id="NavFurnishings"><a title="What we represent" href="/what-we-represent">what we represent</a></li>
        <li id="NavCaseStudies"><a title="Case studies" href="/case-studies">case studies</a></li>
        <li id="NavTestimonials"><a title="Testimonials" href="/testimonials">testimonials</a></li>
        <li id="NavEnvironmentalPolicy"><a title="Environmental policy" href="/environmental-policy">environmental  policy</a></li>
        <li id="NavServices"><a title="Services" href="/services">services</a></li>
        <li id="NavContact"><a title="Contact" href="/contact">contact</a></li>
    </ul>
</div>
