<div id="Navigation">
  <ul class="clearfix">
    <li id="NavFurnishings"><a title="what we represent" href="/what-we-represent">what we represent</a></li>
    <li id="NavCaseStudies"><a title="case studies" href="/case-studies">case studies</a></li>
    <li id="NavTestimonials"><a title="testimonials" href="/testimonials">testimonials</a></li>
    <li id="NavEnvironmentalPolicy"><a title="environmental policy" href="/environmental-policy">environmental policy</a></li>
    <li id="NavServices"><a title="services" href="/services">services</a></li>
    <li id="NavContact"><a title="contact" href="/contact">contact</a></li>
    </ul>
</div>
