<navigation class="navigation">
    <ul>
        <li>
            <a title="What we represent" href="/what-we-represent">What we represent</a>
        </li>

        <li>
            <a title="Case studies" href="/case-studies">Case studies</a>
        </li>

        <li>
            <a title="Testimonials" href="/testimonials">Testimonials</a>
        </li>

        <li>
            <a title="Environmental policy" href="/environmental-policy">Environmental  policy</a>
        </li>

        <li>
            <a title="Services" href="/services">Services</a>
        </li>

        <li id="NavContact">
            <a title="Contact" href="/contact">Contact</a>
        </li>
    </ul>
</navigation>
