<header class="page-header">
    <a href="mailto:enquiries@odass.co.uk" class="email-link">enquiries@odass.co.uk</a>

    <h1 class="logo">Odass Ltd.</h1>

    <%= render 'shared/navigation' %>
</header>
