<header class="page-header">
    <a href="mailto:enquiries@odass.co.uk" class="email-link">enquiries@odass.co.uk</a>

    <%= link_to "Odass Ltd.", root_path, class: 'logo' %>

    <%= render 'shared/navigation' %>
</header>
