<% content_for :meta_title, "What we represent" %>
<% content_for :meta_description, "Successful commercial interior design, space planning and implementation of corporate office interiors" %>

<header class="header">
    <h1>What we represent</h1>
    <em>designer furniture for designer people</em>
</header>

<p>Over the past 35 years, Paul Richmond has developed an enviable reputation with both architects and end users in the successful commercial interior design, space planning and implementation of corporate office interiors.</p>

<p>Over time, this approach has been honed using Ergonomic workstations and seating into what has become a blueprint for an automatic success!</p>

<p><%= link_to "7 Stages of a Successful Office Move", services_path %></p>

<p>The approach has enabled us to build longstanding and ongoing relationships with clients. The philosophy is a simple one - success builds on success.</p>

<%= image_tag 'mainimage.jpg', alt: 'mainimage', width: 940, height: 556 %>
