<div class="ContentSection" id="Services">
    <header class="page-header">
        <h1>Services</h1>
        <em>Pre project information for prospective clients</em>
    </header>

    <div class="Content">
        <div id="ServicesIntro">
            <h2><strong>7 Stages of an Office Move</strong></h2>

            <ol>
                <li>
                    <h3>1. Feasibility Studies</h3>

                    <p>You need to move, you need more space. You identify a suitable sized building and exchange contract. Unfortunately, we find that it is rarely that simple.</p>

                    <p>The number one problem you encounter is with developers who create an office building, attempting to answer everybody's needs, but in reality rarely answering your requirements. The reason for this is very simple. By using one large open plan office area the lighting layout, wiring and IT networking can be kept to a minimum - saving them money.</p>

                    <p>Let us carry out a feasibility study and produce a furniture plan for your proposed new building. This will ensure that the correct services are specified. Sometimes we have to advise a client that the building just isn't suitable for them. Better to find that out early prior to signing contracts. And believe us, it does happen.</p>

                    <h3> How do we charge for our initial feasibility study? </h3>

                    <p>We make no charge for our initial consultation meeting. At this meeting we access the initial design time we require to carry out your project.</p>

                    <p>The estimate includes: Office Space Survey and Site Survey, Personnel Audit, Storage Audit, Space Planning and Interior Design, Presentation and Mood Boards, Detailed Proposal.</p>

                    <p>Charges for these works are made on an hourly basis and we advise you of the cost following our initial meeting.</p>
                </li>

                <li>
                    <h3>2. Space Audit</h3>

                    <p>Despite all the talk of a paperless office there still seems to be just as much paperwork to file as ever. Unfortunately, storage is a necessary evil and is an area that a lot of people ignore or pay little attention to.</p>

                    <p>We always implement a detailed Space Audit of your existing storage. We assess the type of storage that suits your needs and take account of both redundant filing and any areas to increase for expansion.</p>
                </li>

                <li>
                    <h3>3. Space Planning</h3>

                    <p>Poor use of space can make an enormous difference to your company's costs and efficiency.Typically, we find that poorly planned space wastes up to 30% of the available area in an office.</p>

                    <p>For example: One of our clients was planning to build an office extension at a cost of &#163;250,000. By transforming the use of their existing space and replacing inefficient desks with new space-efficient furniture, we established that their additional staff could be housed in their present offices. Total cost of the whole exercise? &#163;20,000 - just 8% of their original planned spend!</p>

                    <p>Often clients make use of saved space for future expansion, saving costly moves and alterations at a later date. Quite apart from saving space, properly planned offices lead naturally to more productive and happier staff.</p>
                </li>

                <li>
                    <h3>4. Risk Assessment</h3>

                    <p>In today's 'sue, grab it and run' environment it is essential that you are fully aware of all the legal requirements of compliance for offices.</p>

                    <p>When we plan an interior for you we evaluate every important issue with legal requirements.</p>

                    <p>Areas such as: Health &amp; Safety considerations, Fire Officer Approval, Building Regulation Approval (where needed), VDU Regulations, Seating Regulations, DDA Regulations, CDM Regulations.</p>

                    <p>Government Agencies have wide ranging powers and you need to avoid falling foul of them. Many rules are open to individual interpretation. Our close contact with the various Governmental departments means we frequently negotiate a more favourable response than you may be able to achieve if dealing direct with them yourself.</p>
                </li>

                <li>
                    <h3>5. Product Selection</h3>

                    <p>All too often suppliers only offer their clients the cheapest possible solution, or the product they make the biggest profit on instead of really identifying if it is the ideal answer for their particular application.</p>

                    <p>Of course, cost is extremely important, but it is essential that you are buying the correct product range. You need to consider longevity and durability as well as compliance with current legislation, eg, wire management.</p>

                    <p>We strive to offer our clients the best products that fit within their budget.</p>
                </li>

                <li>
                    <h3>6. Interior Design</h3>

                    <p>As part of our standard service our fully qualified Interior Designer suggests various colour schemes to complement your company's image. Our Interior Design Department works in partnership with you to create mood boards for your approval. The service covers all aspects of your interior finishes including floor coverings, wall finishes, woodwork and window treatments, as well as the furniture and seating.</p>

                    <p>It is vital that you motivate your staff to give of their best. If you provide them with the best possible working conditions you maximise your chances of inspiring the best performance from them.</p>

                    <p>Clients frequently comment on how staff productivity and relationships improve following the successful completion of one our schemes.</p>
                </li>

                <li>
                    <h3>7. After Sales</h3>

                    <p>All too often after placing an order you find that the salesman disappears into the sunset and you are passed onto other contacts with whom you have no rapport.</p>
                    <p>One of the benefits of dealing with ODASS is that all your contact on a project is at director level. We believe this is vitally important as it establishes top level contact ensuring you receive the best possible service.</p>

                    <p>Once you entrust a project to us, we programme your order for delivery and installation. Our Contracts Manager is introduced to you by the director handling your project, to enable him to plan labour and transport and check on site access and other relevant issues.</p>

                    <p>Depending on the complexity of the project we prepare a full programme detailing how and in what order we plan to undertake the work. This then gives you the opportunity to decide whether any amendments need to be made.</p>

                    <p>Our skilled workforce carry out the installation of your new furniture. Our fitters are user-friendly and understand the need to deliver and build your new installation with the minimum disruption to your staff and ongoing business operation.</p>

                    <p>On completion of your project your appointed director visits you to ensure that you are completely satisfied with the project.</p>

                    <p>But the story doesn't end here. As our clients become more successful we frequently find they need to adapt and expand their installation.</p>

                    <p>As part of our after sales service we plan to manage your future requirements. We hold current drawings of your office layouts on our CAD files. Any changes you implement are updated on our master filing system so we are always right up to date with your company's continued growth.</p>

                    <p>Simple changes can often be generated remotely over the phone without the need to visit site. For more complex changes we start the evaluation process once again.</p>

                    <p>All of our products are backed up by comprehensive manufacturers guarantees - up to 10 years in some cases.</p>

                    <p>The importance of building a sound business relationship with our clients is of paramount significance to us. We like the easy life. Satisfied customers returning again and again over the years.</p>

                    <p>We rarely lose a client once they do business with us. We want our clients to be clients for life and apply all our efforts to establish a long and lasting relationship with them.</p>
                </li>
            </ol>

            <p>Please email <a href="mailto:paul@odass.co.uk">paul@odass.co.uk</a> and request an appointment.</p>
        </div>
    </div>
</div>
