<% content_for :meta_title, "Testimonials" %>
<% content_for :meta_description, "Successful commercial interior design, space planning and implementation of corporate office interiors" %>

<header class="header">
    <h1>Testimonials</h1>
    <em>How our clients react to our projects</em>
</header>

<ul>
    <li class="portion">
        <figure>
            <blockquote>
                <p>To someone who has been the subject of a broken pelvis in their youth and a cesarean section, its hard to explain how you manage day to day through pain and discomfort, not only this but to also be assessed by an occupational therapist and told that you have unusually long femurs!</p>

                <p>How I managed with my old chair for over six years I will never know. I was told that I have in the region of over eight inches of femur over hanging my chair seat, which was causing knee discomfort.</p>

                <p>I also lacked the adequate support to my lower back. My new chair has met all my requirements and expectations. However I would not say that one chair suits all; its definitely worth trying for yourself as there are many chairs to suit different needs.</p>

                <p>Thanks Paul, Its been a long wait but at least there is some pleasure in life now coming to work.</p>
            </blockquote>

            <figcaption>Kay Furniss, PA to the Director of Housing Services</figcaption>
        </figure>
    </li>

    <li class="portion">
        <figure>
            <blockquote>
                <p>We have used Paul for over five years, during this time Ashfield Healthcare has gone through dramatic growth and Paul has been an invaluable supplier advising and assisting during expansion.</p>

                <p>The design expertise is excellent and not just for standard furniture but also unusual items we needed for our hot desking, training rooms and refectory areas. The fitters are always courteous and helpful particularly during the move to our headquarters building. Our more recent relocation to new premises in Dublin required a considerable degree of planning and liaison with the local authorities.</p>

                <p>This we would certainly recommend them for any office reorganisation project.</p>
            </blockquote>

            <figcaption>Samantha Corbin, Commercial Director</figcaption>
        </figure>
    </li>

    <li class="portion">
        <figure>
            <blockquote>
                <p>We first used Pauls services when we moved into our new premises in early 2000. We needed a supplier that could react quickly as we had to vacate an existing premises. He produced professional layouts and visuals with a quotation for the proposed work. An order was placed and the project was complete on time and to budget.</p>

                <p>As part of our continued expansion and integration into the SERCO group we once again needed to move quickly.</p>

                <p>The plans and visuals were approved and their quotation was accepted, once again they delivered and installed all the new furniture to the requirements.</p>

                <p>We will certainly approach Paul again with regards to future orders.</p>
            </blockquote>

            <figcaption>John Rootham, Customer Relations Manager</figcaption>
        </figure>
    </li>

    <li class="portion">
        <figure>
            <blockquote>
                <p>The Company excelled themselves, despite a tight time-frame. Thanks to their attention to detail the results achieved our objectives.</p>
            </blockquote>

            <figcaption>Sue taylor, Special Projects Manager</figcaption>
        </figure>
    </li>

    <li class="portion">
        <figure>
            <blockquote>
                <p>We found Paul to be very committed, accommodating and conscientious throughout the course of the project. The plans he presented were clear and concise and exceeded all expectations.</p>

                <p>We would like to say how pleased we were with the outcome of our decision in choosing Paul and ODASS in adding the exceptional style , design and final touches in our newly built office building.</p>
            </blockquote>

            <figcaption>Graham Dunn, Managing Director</figcaption>
        </figure>
    </li>
</ul>
