#Anchor {
  height: 0px;
}
.ContentSection div#Anchor {
  position: absolute;
  top: 5px;
}
#Header {
  width: 940px;
}
#Header h1 {
  width: 333px;
  height: 78px;
  text-indent: -9000px;
  background: image-url("logo.jpg") no-repeat left;
  float: left;
}
#Navigation {
  float: right;
  width: 180px;
  padding: 0 0 0 0;
}
.ToolBarContact a {
  font-size: 85%;
  color: #ef4035;
  display: block;
  text-decoration: none;
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 3em;
}
#Navigation ul {
  list-style: none;
  margin: 0;
  padding: 62px 0 0 60px;
  width: 130px;
}
#Navigation ul li {
  display: block;
  float: left;
  margin: 0 4px 0 0;

}
#NavContact {
  margin: 0 !important;
}
#Navigation ul li a {
  display: block;
  text-indent: -9000px;
  width: 16px;
  height: 16px;
}
#NavFurnishings a {
  background: image-url("icons-furnishings.png") no-repeat 0 0;
}
#NavFurnishings a:hover {
  background: image-url("icons-furnishings.png") no-repeat 0 -48px;
}

#NavCaseStudies a {
  background: image-url("CaseStudies.png") no-repeat 0 0;
}
#NavCaseStudies a:hover {
  background: image-url("CaseStudies.png") no-repeat 0 -48px;
}

#NavTestimonials a {
  background: image-url("Testimonials.png") no-repeat 0 0;
}
#NavTestimonials a:hover {
  background: image-url("Testimonials.png") no-repeat 0 -48px;
}

#NavEnvironmentalPolicy a {
  background: image-url("environmentalpolicy.png") no-repeat 0 0;
}
#NavEnvironmentalPolicy a:hover {
  background: image-url("environmentalpolicy.png") no-repeat 0 -48px;
}

#NavServices a {
  background: image-url("Services.png") no-repeat 0 0;
}
#NavServices a:hover {
  background: image-url("Services.png") no-repeat 0 -48px;
}

#NavContact a {
  background: image-url("icons-contact.png") no-repeat 0 0;
}
#NavContact a:hover {
  background: image-url("icons-contact.png") no-repeat 0 -48px;
}

#Introduction {
  margin: 40px 0 0 0;
  padding: 20px 0 14px 0;
  border-top: 1px solid #c2c9cf;
  line-height: 1.35em;
}
.ContentSection {
  border-top: 5px solid #ef4035;
  width: 940px;
  position: relative;
}
.Title {
  padding: 20px 0;
  background: image-url("title-spot.gif") no-repeat left;
}
.Title h2 {
  font-weight: normal;
  color: #ef4035;
  margin: 12px 0 12px 0;
  padding: 0 0 0 60px;
  height: 16px;
}
.Title h2 em {
  display: block;
  font-size: 55%;
  color: #58626a;
  font-style: normal;
  text-transform: uppercase;
}
#Furnishings h2 {
  background: image-url("icons-furnishings.png") no-repeat 11px -16px;
}

#CaseStudies h2 {
  background: image-url("CaseStudies.png") no-repeat 11px -16px;
}

#Testimonials h2 {
  background: image-url("Testimonials.png") no-repeat 11px -16px;
}

#EnvironmentalPolicy h2 {
  background: image-url("environmentalpolicy.png") no-repeat 11px -16px;
}

#Services h2 {
  background: image-url("Services.png") no-repeat 11px -16px;
}

#Contact h2 {
  background: image-url("icons-contact.png") no-repeat 11px -16px;
}

.Content {
  padding: 40px 0;
  border-top: 1px solid #c2c9cf;
}
#Furnishings div.Content {
  padding: 40px 0 20px 0;
}
#CaseStudies div.Content {
  padding: 40px 0 20px 0;
}

#Testimonials div.Content {
  padding: 40px 0 20px 0;
}

#EnvironmentalPolicy div.Content {
  padding: 40px 0 20px 0;
}

.ImageRow {
  float: left;
  margin: 0 20px 20px 0;
}
.ImageRow.Last {
  margin: 0 0 20px 0;
}
.ImageRow img {
  display: block;
}
.ImageRow img.Bottom {
  display: block;
  margin: 20px 0 0 0;
  float: left;
}
.ImageRow img.Margin {
  display: block;
  margin: 20px 20px 0 0;
  float: left;
}

#CaseStudies div.Content ul li{
  text-decoration: none;
  list-style: none;
  padding-top: 15px;
  border-bottom: 1px solid #ef4035;
}
#CaseStudies div.Content img{
  display: block;
  padding: 12px 0;
}

#CaseStudies div.Content h1 {
  color: #ef4035;
}

#Testimonials div.Content ul li {
  text-decoration: none;
  list-style: none;
  padding: 5px 0;
  line-height: 1.35em;
}


#Testimonials div.Content p{
  padding-bottom: 10px;
  color: #ef4035;
  line-height: 1.35em;
  border-bottom: 1px solid #ef4035;
}

#EnvironmentalPolicy div.Content li{
  line-height: 1.35em;
  margin-left: 13px;
}

#EnvironmentalPolicy div.Content p{
  line-height: 1.35em;
}

#ServicesIntro {
  margin: 0 0 0 0;
  padding: 0 0 20px 0;
  line-height: 1.35em;
}

#ServicesIntro h1{
  padding: 5px 0;
  color: #ef4035;
}

#ServicesIntro ul li {
  text-decoration: none;
  list-style: none;
  padding-bottom: 15px;
  border-bottom: 1px solid #ef4035;
}

#ServicesIntro p{
  padding-top: 15px;
  color: #ef4035;
}

#Contact {
  border-bottom: 1px solid #c2c9cf;
}
#ContactLeft,
#ContactRight {
  width: 460px;
  line-height: 1.35em;
  padding-bottom: 20px;
}
#ContactLeft {
  float: left;
}
#ContactRight {
  float: right;
}
.Content a,
#Contact {
  color: #ef4035;
  text-decoration: none;
}

#Contact h1 {
  color: #ef4035;
  font-weight: 200;
}

.Content a:hover {
  color: #000;
}

#Footer {
  padding: 10px 10px 60px 10px;
  background: #ef4035;
  margin: 40px 0 0 0;
}
#FooterInner {
  width: 940px;
  color: #fff;
  margin: 0 auto;
  text-align: left;
  text-transform: uppercase;
}

#FixNav {
  display: none;
  position: fixed;
  left: 0px;
  top: 127px;
  background: #ef4035;
  width: 16px;
  padding: 10px 7px 3px 7px;
}
#FixNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#FixNav li {
  display: block;
  margin: 0 0 7px 0;
  padding: 0;
}
#FixNav a {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9000px;
}
#FixTop a {
  background: image-url("icons-top.png") no-repeat top;
}
#FixTop a:hover {
  background: image-url("icons-top.png") no-repeat bottom;
}
#FixFurnishings a {
  background: image-url("icons-furnishings.png") no-repeat 0 -16px;
}
#FixFurnishings a:hover {
  background: image-url("icons-furnishings.png") no-repeat 0 -32px;
}

#FixCaseStudies a {
  background: image-url("CaseStudies.png") no-repeat 0 -16px;
}
#FixCaseStudies a:hover {
  background: image-url("CaseStudies.png") no-repeat 0 -32px;
}

#FixTestimonials a {
  background: image-url("Testimonials.png") no-repeat 0 -16px;
}
#FixTestimonials a:hover {
  background: image-url("Testimonials.png") no-repeat 0 -32px;
}

#FixEnvironmentalPolicy a {
  background: image-url("environmentalpolicy.png") no-repeat 0 -16px;
}
#FixEnvironmentalPolicy a:hover {
  background: image-url("environmentalpolicy.png") no-repeat 0 -32px;
}

#FixServices a {
  background: image-url("Services.png") no-repeat 0 -16px;
}
#FixServices a:hover {
  background: image-url("Services.png") no-repeat 0 -32px;
}

#FixContact a {
  background: image-url("icons-contact.png") no-repeat 0 -16px;
}
#FixContact a:hover {
  background: image-url("icons-contact.png") no-repeat 0 -32px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.NoShow {
  display: none;
}
.Clear {
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  clear: both;
}
hr {
  border: none 0;
  border-bottom: 1px solid #DCDCDC;
  width: 100%;
  height: 1px;
  padding: 0 0 5px 0;
}
