#Footer {
  padding: 10px 10px 60px 10px;
  background: #ef4035;
  margin: 40px 0 0 0;
}
#FooterInner {
  width: 940px;
  color: #fff;
  margin: 0 auto;
  text-align: left;
  text-transform: uppercase;
}
