.page-header {
    margin-top: 20px;
    margin-bottom: 10px;
    background: image-url("title-spot.gif") no-repeat left;

    h1,
    em {
        padding-left: 50px;
    }

    h1 {
        color: #ef4035;
    }

    em {
        color: #58626a;
        font-style: normal;
        text-transform: uppercase;
    }
}

// #Furnishings h1 {
//   background: image-url("icons-furnishings.png") no-repeat 11px -16px;
// }

// #CaseStudies h1 {
//   background: image-url("CaseStudies.png") no-repeat 11px -16px;
// }

// #Testimonials h1 {
//   background: image-url("Testimonials.png") no-repeat 11px -16px;
// }

// #EnvironmentalPolicy h1 {
//   background: image-url("environmentalpolicy.png") no-repeat 11px -16px;
// }

// #Services h1 {
//   background: image-url("Services.png") no-repeat 11px -16px;
// }

// #Contact h1 {
//   background: image-url("icons-contact.png") no-repeat 11px -16px;
// }
