ul,
ol {
    list-style-type: none;
}

ol.list {
    list-style-type: decimal;
}

ul.list {
    list-style-type: disc;
}

ol.list,
ul.list {
    list-style-position: inside;
}

ul.list li {
    text-indent: -1em;
    padding-left: 1em;
}
