.navigation {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 10px;

    ul {
        list-style: none;

        li {
            display: inline-block;
            margin-right: 30px;
        }
    }

    a {
        color: #58626a;
        text-decoration: none;

        &:hover {
            color: #ef4035;
        }
    }
}

// #NavContact {
//   margin: 0 !important;
// }
// #NavFurnishings a {
//   background: image-url("icons-furnishings.png") no-repeat 0 0;
// }
// #NavFurnishings a:hover {
//   background: image-url("icons-furnishings.png") no-repeat 0 -48px;
// }

// #NavCaseStudies a {
//   background: image-url("CaseStudies.png") no-repeat 0 0;
// }
// #NavCaseStudies a:hover {
//   background: image-url("CaseStudies.png") no-repeat 0 -48px;
// }

// #NavTestimonials a {
//   background: image-url("Testimonials.png") no-repeat 0 0;
// }
// #NavTestimonials a:hover {
//   background: image-url("Testimonials.png") no-repeat 0 -48px;
// }

// #NavEnvironmentalPolicy a {
//   background: image-url("environmentalpolicy.png") no-repeat 0 0;
// }
// #NavEnvironmentalPolicy a:hover {
//   background: image-url("environmentalpolicy.png") no-repeat 0 -48px;
// }

// #NavServices a {
//   background: image-url("Services.png") no-repeat 0 0;
// }
// #NavServices a:hover {
//   background: image-url("Services.png") no-repeat 0 -48px;
// }

// #NavContact a {
//   background: image-url("icons-contact.png") no-repeat 0 0;
// }
// #NavContact a:hover {
//   background: image-url("icons-contact.png") no-repeat 0 -48px;
// }
