html {
    font-size: 10px;
}

body {
    font-family: 'Helvetica Neueu', Helvetica, Verdana, Arial, sans-serif;
    font-weight: lighter;
}

li,
p {
    font-size: 1.4rem;
    line-height: 1.3rem;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.4rem; }

h1 {
    font-weight: normal;
}
